body {
    margin: 0;
    padding: 3rem 0;
    background-color: #043F6B;
    color: #fff;
    text-align: center;
    font-family: roboto;
}

img, span {
    display: block;
}

.campo-superior .titulo {
    font-size: 2rem;
    font-weight: bold;
}

.campo-superior .sub-titulo {
    margin-top: 0.5rem;
    font-size: 1.25rem;
}

.campo-superior img {
    width: 7.5rem;
    height: 7.5rem;
    margin: 0 auto;
}

.campo-inferior {
    margin-top: 40%;
}

    .campo-inferior img {
        margin: 0 auto;
        width: 6rem;
        height: 6rem;
    }

    .campo-inferior .sugestao {
        font-size: 1.5rem;
    }